# Google API Key
GOOGLE_API_KEY = '' # Add Google API Key here

# Langsmith CREDS
LANGSMITH_API_KEY = '' # Add Langsmith API Key here
LANGCHAIN_TRACING = true # Set to true to enable tracing
LANGCHAIN_ENDPOINT = https://api.smith.langchain.com # Add Langsmith Endpoint here
LANGCHAIN_PROJECT = '' # Add Langsmith Project name here