.env
myenv/
chatbot.db
chatbot.db-shm
chatbot.db-wal
Chatbot Projects/__pycache__
Chatbot Projects/models
Chatbot Projects/rag_vector_store

# Local project caches
Langsmith/faiss_vector_index/
Langsmith/models/
Langsmith/indices/

RAG-in-Langgraph/models
RAG-in-Langgraph/vector_store

# Capstone projects
/Capstone Projects/CRAG/documents
/Capstone Projects/CRAG/filtering_model
/Capstone Projects/CRAG/faiss_vector_store
